{% extends 'base.html' %}

{% block title %}
<title>Week 1</title>
{% endblock %}

{% block content %}
<table cellpadding="10px">
    <tr>
        <td colspan="2">Week 1 is focused around basic Python libraries and it includes:</td>
    </tr>
    <tr>
        <td>Basic Introduction to Python Programming Language.</td>
        <td> <a href="https://youtube.com/playlist?list=PLsyeobzWxl7poL9JTVyndKe62ieoN-MZ3">Video Lectures (first 67)</a></td>
    </tr>
    <tr>
        <td>Use of Numpy library</td>
        <td><a href="https://numpy.org/doc/stable/user/index.html">Manual</a></td>
    </tr>
    <tr>
        <td>Use of Tkinter library</td>
        <td>
            <a href="https://www.geeksforgeeks.org/python-tkinter-tutorial/">Manual(GeeksforGeeks), </a>
            <a href="https://www.geeksforgeeks.org/python-tkinter-tutorial/">Manual(RealPython), </a>
            <a href="https://www.youtube.com/watch?v=YXPyB4XeYLA">Video Lecture</a>
        </td>
    </tr>
</table>
{% endblock %}