{% extends 'base.html' %}

{% block title %}
<title>Week 2</title>
{% endblock %}

{% block content %}
<table cellpadding="10px">
    <tr>
        <td colspan="2">Week 2 is focused on Machine Learning related libraries and it includes:</td>
    </tr>
    <tr>
        <td>Use of Pandas library</td>
        <td> <a href="https://pandas.pydata.org/docs/getting_started/overview.html">Manual</a></td>
    </tr>
    <tr>
        <td>Use of Sci-kit Learn library</td>
        <td>
            <a href="https://machinelearningmastery.com/a-gentle-introduction-to-scikit-learn-a-python-machine-learning-library/">Blog,</a>
            <a href="https://youtube.com/playlist?list=PL5-da3qGB5ICeMbQuqbbCOQWcS6OYBr5A">Video Lecture,</a>
            <a href="https://scikit-learn.org/stable/user_guide.html">User Guide,</a>
            <a href="https://www.dataschool.io/machine-learning-with-scikit-learn/">Practice Code</a>
        </td>
    </tr>
    <tr>
        <td>Use of Matplotlib library</td>
        <td><a href="https://www.geeksforgeeks.org/matplotlib-tutorial/">Manual(GeeksforGeeks)</a></td>
    </tr>
    <tr>
        <td>Deployment Using Django*</td>
        <td><a href="https://www.youtube.com/watch?v=OTmQOjsl0eg">Video Lecture</a></td>
    </tr>
    <tr>
        <td>Deployment Using Flask*</td>
        <td><a href="https://www.youtube.com/watch?v=mqhxxeeTbu0&list=PLzMcBGfZo4-n4vJJybUVV3Un_NFS5EOgX&t=0s">Video Lecture</a></td>
    </tr>
    <tr><td colspan="2">* - Only one of these has to be done.</td></tr>
</table>
{% endblock %}